ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  display: flex;
  align-items: center;
  background: #fafafa;
}

.logo {
  margin-left: 80px;
  padding-top: 39px;
  padding-bottom: 39px;
  font-family: "Homemade Apple", cursive;
  color: #231f20;
  font-size: 18px;
  line-height: calc(39 / 18);
}

.header-list {
  display: flex;
  margin-left: 420px;
}

.header-list .item:not(:first-child) {
  margin-left: 31px;
}
.header-list .link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.header-btn {
  margin-left: 370px;
  padding: 13px 20px;
  background-color: transparent;
  border: 1px solid #f7941e;
  color: #f7941e;
  border-radius: 5px;
}

.hero {
  display: flex;
  padding: 0;
  background-color: #f1f1f2;
}

.hero-right-box {
  padding-left: 150px;
  padding-top: 160px;
}

.hero-image {
  margin-left: auto;
}

.hero-title {
  margin: 0;
  width: 430px;

  font-size: 56px;
  line-height: 1.23;
}

.hero-text {
  margin-top: 36px;
  margin-bottom: 0;
  width: 430px;

  font-size: 20px;
  line-height: 1.4;
}

.hero-buttom {
  margin-top: 52px;

  font-size: 18px;
  line-height: 1.22;

  display: flex;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  background-color: #f7941e;
  border: transparent;
  border-radius: 4px;
}

.feature {
  display: flex;
  padding: 0;
  background-color: #f1f1f2;
}

.feature-left-box {
  padding-left: 110px;
  padding-top: 165px;
}

.feature-image {
  padding: 0;
  object-fit: contain;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
}

.feature-text {
  margin: 0;
  margin-bottom: 32px;
  width: 440px;

  font-size: 20px;
  line-height: 1.4;

  text-align: justify;
}

.feature-buttom {
  margin-top: 52px;

  font-size: 18px;
  line-height: 1.35;

  display: flex;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #F7941E;
  background-color: #F1F1F2;
  border: 1px solid #F7941E;
  border-radius: 4px;
}