.feature {
  display: flex;
  padding: 0;
  background-color: #f1f1f2;

  &__box {
    padding-left: 110px;
    padding-top: 165px;
  }

  &__image {
    padding: 0;
    object-fit: contain;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 23px;
    @include font(32, 1.4, none);
    font-weight: 400;
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;
    width: 440px;
    @include font(20, 1.4, none);

    text-align: justify;
  }

  &__button {
    margin-top: 52px;
    @include font(18, 1.35, none);

    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #f7941e;
    background-color: #f1f1f2;
    border: 1px solid #f7941e;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: #f1f1f2;
      background-color: #f7941e;
    }
  }
}
