.hero {
  display: flex;
  padding: 0;
  background-color: #f1f1f2;

  &__box {
    padding-left: 150px;
    padding-top: 160px;
  }

  &__image {
    margin-left: auto;
  }

  &__title {
    margin: 0;
    width: 430px;
    @include font(56, 1.23, none);
  }

  &__text {
    margin-top: 36px;
    margin-bottom: 0;
    width: 430px;
    @include font(20, 1.4, none);
  }

  &__button {
    margin-top: 52px;

    @include font(18, 1.22, none);

    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #f7941e;
    border: transparent;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: #f7941e;
      background-color: transparent;
      border: 1px solid #f7941e;
    }
  }
}
