.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    margin-right: 0;
    margin-left: auto;
    z-index: 4;
    border: 0;
    background-color: transparent;
}
.mobile-menu.is-open {

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.mobile-menu.is-open .header__btn {
    display: block;
    margin: 0 auto;

}
.mobile-menu {
    display: none;
    padding: 30px;

    
}
.mobile-list {
text-align: center;
}
.mobile-list__link {
font-family: 'Gilroy';
font-size: 24px;
line-height: 1.22;
color: #000000;
}
.mobile-list__link:hover,
.mobile-list__link:focus {
    color: #f7941e;
}
.mobile-list__item:not(:last-child) {
    margin-bottom: 20px;
}
.logo_mobile {
    font-family: "Homemade Apple", cursive;
    color: #231f20;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: calc(39 / 18);
    margin: 0 auto;
}